{% extends '::layout.html.twig' %}

{% block title %}
    {{ "oro.project.new_title"|trans}} -
    {{ parent() }}
{% endblock %}

{% block content -%}
    <h1>{{ "oro.project.new_title"|trans}}</h1>

    <p>
        <a href="{{ path('project') }}">&laquo; {{ "oro.project.projects_back"|trans }}</a>
    </p>

    <form action="{{ path('project_create') }}" method="post" {{ form_enctype(form) }} role="form" class="form">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.name) }}
        </div>

        <div class="form-group">
            {{ form_row(form.code) }}
        </div>

        <div class="form-group">
            {{ form_row(form.summary) }}
        </div>

        <div class="form-group">
            {{ form_row(form.users) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ "oro.project.create_label"|trans}}</button>&nbsp;
        <a href="{{ path('project') }}">{{ "oro.project.cancel_label"|trans}}</a>
        {{ form_rest(form) }}
    </form>
{% endblock %}
