{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>{{ "oro.project.projects_title"|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "oro.project.fields.code_label"|trans }}</th>
                <th>{{ "oro.project.fields.name_label"|trans }}</th>
                <th>{{ "oro.project.fields.summary_label"|trans }}</th>
                <th>{{ "oro.project.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{  entity.code }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.summary|truncate(200, true) }}</td>
                <td>
                    {% if(is_granted('MODIFY', entity)) %}
                        <a class="btn btn-primary" role="button" href="{{ path('project_edit', { 'id': entity.id }) }}">{{ "oro.project.edit_label"|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER')) %}
    <a class="btn btn-primary" href="{{ path('project_new') }}">
        {{ "oro.project.create_label"|trans }}
    </a>
    {% endif %}

    {% endblock %}
