{% extends '::layout.html.twig' %}

{% block title %}
    {{ "oro.project.edit_title"|trans({'name': entity.name}) }} -
    {{ parent() }}
{% endblock %}


{% block content -%}
    <h1>{{ "oro.project.edit_title"|trans({'name': entity.name}) }}</h1>

    <p>
        <a href="{{ path('project') }}">&laquo; {{ "oro.project.projects_back"|trans }}</a>
    </p>

    <form action="{{ path('project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} role="form" class="form">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.name) }}
        </div>

        <div class="form-group">
            {{ form_row(form.code) }}
        </div>

        <div class="form-group">
            {{ form_row(form.summary) }}
        </div>

        <div class="form-group">
            {{ form_row(form.users) }}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">{{ "oro.project.update_label"|trans }}</button>
            <a href="{{ path('project') }}">{{ "oro.project.cancel_label"|trans }}</a>
        </div>

        {{ form_rest(form) }}
    </form>
    <hr />
    <p>
        <h3>{{ "oro.project.delete_title"|trans}}</h3>
        {{ form(delete_form) }}
    </p>
{% endblock %}
