{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orouser/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <form id="login_form" action="{{ path('login_check') }}" method="post" role="form" class="form-horizontal">
        <div class="panel panel-info">
            <div class="panel-heading">{{ "oro.auth.predefined_title"|trans }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Administrator</dt>
                    <dd>admin<br/>admin123</dd>
                    <dt>Manager</dt>
                    <dd>manager<br/>manager123</dd>
                    <dt>Operator</dt>
                    <dd>operator<br/>operator123</dd>
                    <dt>Operator2</dt>
                    <dd>operator2<br/>operator123</dd>
                </dl>
            </div>
        </div>

        <h1>{{ "oro.auth.sign_in_title"|trans }}</h1>
        {% if error %}
            <div class=" form-group has-error">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <label class="control-label" for="inputError1">{{ error.message }}</label>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ "oro.auth.username"|trans }}</label>
            <div class="col-sm-10">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ "oro.auth.username"|trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ "oro.auth.password"|trans }}</label>
            <div class="col-sm-10">
                <input type="password" id="password" name="_password" class="form-control"/>
            </div>
        </div>

        <input type="hidden" name="_target_path" value="/" />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ "oro.auth.sign_in"|trans }}</button>
            </div>
        </div>
    </form>

{% endblock %}