{% extends '::layout.html.twig' %}

{% block title %}
    {{ entity.code }} -
    {{ parent() }}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.name }}</a></li>
        {% if (entity.issueType.code == 'subtask') %}
            <li><a href="{{ path('issue_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a></li>
        {% endif %}
        <li><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.code }}</a></li>
    </ol>
    <h1>{{ entity.summary }}
        <div class="pull-right">
            <a class="btn btn-primary" role="button" href="{{ path('issue_update', { 'id': entity.id }) }}">{{ "oro.issue.edit_label"|trans }}</a>
            {% if (entity.issueType.code == 'story') %}
            <a class="btn btn-success" role="button" href="{{ path('issue_create', { 'project': entity.project.id, 'parent': entity.id }) }}">{{ "oro.issue.subtask_label"|trans }}</a>
            {% endif %}
        </div>
    </h1>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ "oro.issue.details_header"|trans }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>{{ "oro.issue.fields.issue_type_label"|trans }}</dt>
                            <dd>{{ entity.issueType.name }}</dd>
                            <dt>{{ "oro.issue.fields.issue_priority_label"|trans }}</dt>
                            <dd>{{ entity.issuePriority.name }}</dd>
                            <dt>{{ "oro.issue.fields.issue_status_label"|trans }}</dt>
                            <dd>{{ entity.issueStatus.name }}</dd>
                            <dt>{{ "oro.issue.fields.issue_resolution_label"|trans }}</dt>
                            <dd>{{ entity.issueResolution.name }}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt>{{ "oro.issue.fields.created_label"|trans }}</dt>
                            <dd>{{ entity.createdAt|date('F j, Y H:i', app.user.timezone) }}</dd>
                            <dt>{{ "oro.issue.fields.updated_label"|trans }}</dt>
                            <dd>{{ entity.updatedAt|date('F j, Y H:i', app.user.timezone) }}</dd>
                            <dt>{{ "oro.issue.fields.assignee_label"|trans }}</dt>
                            <dd><a href="{{ path('user_show', { 'id': entity.assignee.id }) }}">{{ entity.assignee.name }}</a></dd>
                            <dt>{{ "oro.issue.fields.reporter_label"|trans }}</dt>
                            <dd><a href="{{ path('user_show', { 'id': entity.reporter.id }) }}">{{ entity.reporter.name }}</a></dd>
                        </dl>
                    </div>
                </div>

                <hr/>

                <div class="description">
                    {{ entity.description }}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-8">
            {% if (entity.issueType.code == 'story') %}
            <div class="panel panel-info">
                <div class="panel-heading">{{ "oro.issue.subtask_header"|trans }}</div>
                <div class="panel-body">
                    {% if entity.children|length > 0 %}
                        <table class="table table-striped">
                            <col width="50" />
                            <col />
                            <col width="200"/>
                            {% for subtask in entity.children %}
                                <tr>
                                    <td><a href="{{ path('issue_show', { 'id': subtask.id }) }}">{{  subtask.code }}</a></td>
                                    <td>{{ subtask.summary|truncate(200, true) }}</td>
                                    <td><a href="{{ path('user_show', { 'id': subtask.assignee.id }) }}">{{ subtask.assignee.name }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {{ "oro.issue.no_subtasks"|trans }}
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% include 'OroIssueBundle:Comment:list.html.twig' with { 'comments': entity.comments } %}

            {{ render(controller('OroIssueBundle:Comment:create',{'issueId' : entity.id})) }}

        </div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">{{ "oro.issue.fields.collaborators_label"|trans }}</div>
                <div class="panel-body">
                    {% if entity.collaborators|length > 0 %}
                        <ul class="list-unstyled">
                        {% for user in entity.collaborators %}
                            <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ "oro.issue.no_collaborators"|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">{{ "oro.issue.activity_header"|trans }}</div>
            <div class="panel-body">
                {{ render(controller('OroIssueBundle:Activity:list', {'limit': 20, 'issueId' : entity.id})) }}
            </div>
        </div>
    </div>
{% endblock %}
