{% extends '::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.name }}</a></li>
        {% if (entity.issueType.code == 'subtask') %}
            <li><a href="{{ path('issue_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a></li>
        {% endif %}
        <li><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.code }}</a></li>
    </ol>
    <h1>{{ entity.summary }}
        <div class="pull-right">
            <a class="btn btn-primary" role="button" href="{{ path('issue_edit', { 'id': entity.id }) }}">Edit</a>
            {% if (entity.issueType.code == 'story') %}
            <a class="btn btn-success" role="button" href="{{ path('issue_new', { 'parent': entity.id }) }}">+ Create Sub-task</a>
            {% endif %}
        </div>
    </h1>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>Type</dt>
                            <dd>{{ entity.issueType.name }}</dd>
                            <dt>Priority</dt>
                            <dd>{{ entity.issuePriority.name }}</dd>
                            <dt>Status</dt>
                            <dd>{{ entity.issueStatus.name }}</dd>
                            <dt>Resolution</dt>
                            <dd>{{ entity.issueResolution.name }}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt>Created At</dt>
                            <dd>{{ entity.createdAt|date('F j, Y H:i') }}</dd>
                            <dt>Updated At</dt>
                            <dd>{{ entity.updatedAt|date('F j, Y H:i') }}</dd>
                            <dt>Assignee</dt>
                            <dd><a href="{{ path('user_show', { 'id': entity.assignee.id }) }}">{{ entity.assignee.name }}</a></dd>
                            <dt>Reporter</dt>
                            <dd><a href="{{ path('user_show', { 'id': entity.reporter.id }) }}">{{ entity.reporter.name }}</a></dd>
                        </dl>
                    </div>
                </div>

                <hr/>

                <div class="description">
                    {{ entity.description|raw }}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-8">
            {% if (entity.issueType.code == 'story') %}
            <div class="panel panel-info">
                <div class="panel-heading">Sub-tasks</div>
                <div class="panel-body">
                    {% if entity.children|length > 0 %}
                        <table class="table table-striped">
                            <col width="50" />
                            <col />
                            <col width="200"/>
                            {% for subtask in entity.children %}
                                <tr>
                                    <td><a href="{{ path('issue_show', { 'id': subtask.id }) }}">{{  subtask.code }}</a></td>
                                    <td>{{ subtask.summary|truncate(200, true) }}</td>
                                    <td><a href="{{ path('user_show', { 'id': subtask.assignee.id }) }}">{{ subtask.assignee.name }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        There are no sub-task issues yet.
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% include 'OroIssueBundle:Comment:list.html.twig' with { 'comments': entity.comments } %}

            {{ render(controller('OroIssueBundle:Comment:new',{'issueId' : entity.id})) }}

        </div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">Collaborators</div>
                <div class="panel-body">
                    {% if entity.collaborators|length > 0 %}
                        <ul class="list-unstyled">
                        {% for user in entity.collaborators %}
                            <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        There are no collaborators
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
