{% extends '::layout.html.twig' %}

{% block title %}
    {{ entity.code }} -
    {{ parent() }}
{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.name }}</a></li>
        {% if (entity.issueType.code == 'subtask' and entity.parent) %}
            <li><a href="{{ path('issue_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a></li>
        {% endif %}
        <li><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.code }}</a></li>
    </ol>

    <h1>{{ "oro.issue.edit_title"|trans({'name': entity.summary}) }}</h1>

    <form action="{{ path('issue_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} role="form" class="form">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.summary) }}
        </div>

        <div class="form-group">
            {{ form_row(form.description) }}
        </div>

        <hr/>

        <div class="form-group">
            {{ form_row(form.issueType) }}
        </div>
        <div class="form-group hidden" id="parent-block">
            {{ form_row(form.parent) }}
        </div>

        <hr/>

        <div class="form-group">
            {{ form_row(form.issuePriority) }}
        </div>
        <div class="form-group">
            {{ form_row(form.issueStatus) }}
        </div>
        <div class="form-group">
            {{ form_row(form.issueResolution) }}
        </div>

        <hr/>

        <div class="form-group">
            {{ form_row(form.assignee) }}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">{{ "oro.issue.update_button"|trans }}</button>&nbsp;
            <a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ "oro.issue.cancel_button"|trans }}</a>
        </div>

        {{ form_rest(form) }}
    </form>

    {% include 'OroIssueBundle:Issue:parentField.html.twig' %}
{% endblock %}
