<div class="well well-sm activity">
    <div class="header">
        <span class="user">
            <a href="{{ path('user_show', { 'id': activity.user.id }) }}">{{ activity.user.fullname}}</a>
        </span>
        <span>{{ activity.details }}</span>
        <span class="issue">
            created issue <a href="{{ path('issue_show', { 'id': activity.issue.id }) }}">{{ activity.issue.code }}</a>
        </span>

        <div class="pull-right date">
            <span class="field">{{ activity.createdAt|date('F j, Y H:i') }}</span>
        </div>
    </div>
</div>