{% extends '::layout.html.twig' %}

{% block title %}
    {{ "oro.user.users_title"|trans }} -
    {{ parent() }}
{% endblock %}

{% block content -%}
    <h1>{{ "oro.user.users_title"|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="50">{{ "oro.user.user_title"|trans }}</th>
                <th></th>
                <th>{{ "oro.user.email_label"|trans }}</th>
                <th>{{ "oro.user.fullname_label"|trans }}</th>
                <th>{{ "oro.user.role_label"|trans }}</th>
                <th>{{ "oro.user.actions_label"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <img class='image-round-50' src="{{ entity.getAvatarImagePath(50) }}"/>
                </td>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.fullname }}</td>
                <td>
                    {% for role in entity.roles %}
                        {{ role.name}}<br/>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('user_update', { 'id': entity.id }) }}">{{ "oro.user.user_edit"|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_create') }}">
        {{ "oro.user.add_button"|trans }}
    </a>

{% endblock %}
