{% extends '::layout.html.twig' %}

{% block title %}
    {% if(my_profile) %}{{ "oro.user.my_profile_title"|trans }}{% else %}{{ "oro.user.user_title"|trans }}{% endif %} -
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>
        {% if(my_profile) %}{{ "oro.user.my_profile_title"|trans }}{% else %}{{ "oro.user.user_title"|trans }}{% endif %}
        {% if(is_granted('EDIT', entity)) %}
        <div class="pull-right">
            <a class="btn btn-primary" role="button" href="{{ path('user_edit', { 'id': entity.id }) }}">
                {{ "oro.user.user_edit"|trans }}
            </a>
        </div>
        {% endif %}
    </h1>

    {% if(is_granted('VIEW_LIST', entity)) %}
    <p>
        <a href="{{ path('user') }}">&laquo; {{ "oro.user.users_back"|trans }}</a>
    </p>
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ "oro.user.details_title"|trans }}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <img class='image-round-100' src="{{ entity.getAvatarImagePath(100) }}"/>
                        </div>
                        <div class="col-sm-8">
                            <dl class="dl-horizontal">
                                <dt>{{ "oro.user.email_label"|trans }}</dt>
                                <dd><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></dd>
                                <dt>{{ "oro.user.username_label"|trans }}</dt>
                                <dd>{{ entity.username }}</dd>
                                <dt>{{ "oro.user.fullname_label"|trans }}</dt>
                                <dd>{{ entity.fullname }}</dd>
                                <dt>{{ "oro.user.role_label"|trans }}</dt>
                                <dd>
                                {% for role in entity.roles %}
                                    {{ role.name}}<br/>
                                {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">{{ "oro.user.assigned_issues_title"|trans }}</div>
                <div class="panel-body">
                    {% if issues|length > 0 %}
                        <table class="table table-striped">
                            <col width="50" />
                            <col />
                            {% for issue in issues %}
                                <tr>
                                    <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{  issue.code }}</a></td>
                                    <td>{{ issue.summary|truncate(200, true) }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {{ "oro.user.no_issues"|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">{{ "oro.user.activity_title"|trans }}</div>
            <div class="panel-body">
                {{ render(controller('OroIssueBundle:Activity:list', {'limit': 20, 'userId' : entity.id})) }}
            </div>
        </div>
    </div>
{% endblock %}
